#root {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;*/
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

body {
  margin-top: 50px;
}

.pageTop {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 200px;
}

.my-photo img {
  position: relative;
  right: 40px;
  width: 300px;
  
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
  transition: transform 0.3s ease;
}

.my-photo img:hover {
  transform: scale(1.2) rotate(-10deg);
}

.name {
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 8px 8px 16px #000000;
}

.my-info {
  position: relative;
  bottom: 40px;

  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 8px 8px 16px #000000;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-shadow {
  display: inline-block;
  margin: 5px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  background: none;
  outline: none;
  border: medium;
} 
 
.btn-shadow::before {
  content: "";
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: 0;
  border-radius: 2em;
  filter: blur(14px) brightness(0.9);
} 
 
.btn-shadow span {
  display: inline-block;
  transform-style: preserve-3d;
  transition: 0.3s ease-out;
  padding: 16px 60px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
} 
 
.btn-shadow:hover {
  color: rgb(255, 255, 255);
} 
 
.btn-shadow:hover span {
  filter: brightness(0.9) contrast(1.2);
  transform: scale(0.96);
} 
 
.btn-shadow:hover::before {
  bottom: 8px;
  filter: blur(6px) brightness(0.8);
  left: 15px;
  right: 15px;
} 
 
.btn-shadow--blue span {
  background: rgb(58, 134, 255);
} 

hr {
  width: 100%;
  color: black;
}

.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-section {
  width: 50%;

}

.about-section h2 {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 4px 4px 8px #000000;
}
