.education-container {
    margin-top: 50px;
}

.schools {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.school-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.school-info a {
    transition: transform 0.3s ease;
}

.school-info a:hover {
    opacity: 0.75;
    transform: scale(1.01);
}

.school-info img {
    height: 250px;
    width: 325px;
}