:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d1d35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  animation: transitionIn 1.5s;

  background-image: url("../src/assets/background_img.jpg");
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 50px;
}

hr {
  width: 100%;
  color: black;
}

h2, p {
  font-weight: bold;
  text-shadow: 4px 4px 8px #000000;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
